/* @font-face {
  font-family: "Rodin";
  src: local("./fonts/Rodin_Font.otf"), url("RODIN.otf") format(".otf");
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3 {
  font-size: 1rem !important;
}

#processor-container {
  border-radius: 0px 0px 5px 5px !important;
}

#add-processor-button {
}

.menu-item-container {
  padding: 10px;
}
.menu-item-container:hover {
  background-color: #6c757d;
}
